@import "tailwindcss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transform: translateZ(0);
  will-change: transform;
}

[data-theme="light"] body {
  @apply bg-slate-200 text-black
}

body {
  @apply bg-slate-950 text-white
}